<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.ibm.js.team.workitem.commandline/src/com/ibm/js/team/workitem/commandline/WorkitemCommandLine.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ibm.js.team.workitem.commandline.WorkitemCommandLine"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-update /ignoreErrors repository=&quot;https://clm.example.com:9443/ccm&quot; user=ralph password=ralph id=150 description=&quot;Plain Text&lt;br/&gt;&lt;b&gt;Bold Text&lt;/b&gt;&lt;br/&gt;&lt;i&gt;Italic Text&lt;/i&gt;&lt;br/&gt;&lt;a href=\&quot;https://rsjazz.wordpress.com\&quot;&gt;External RSJazz Link&lt;/a&gt;  &lt;br/&gt;&lt;b&gt;@ralph &lt;/b&gt;&lt;br/&gt;Defect 3 &lt;br/&gt;&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.ibm.js.team.workitem.commandline"/>
</launchConfiguration>